<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!roomId" class="ion-text-center ion-padding">
    <p>No conversation selected.</p>
  </div>

  <div *ngIf="roomId" class="flex flex-col h-full">
    <ion-list class="messages flex-1 overflow-auto">
      <ion-item *ngFor="let m of messages" lines="inset">
        <ion-label>
          <h3>{{ m.senderName }}</h3>
          <p>{{ m.messageText }}</p>
          <ion-note>{{ m.createdAt | date: 'short' }}</ion-note>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item lines="none" class="ion-margin-top">
      <ion-input [(ngModel)]="messageText" placeholder="Write a message" fill="outline"></ion-input>
      <ion-button slot="end" (click)="send()" fill="solid" color="primary">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
</ion-content>
